<div class="number_content">
	<div class="number_row">
		<span class="row_header">Price</span>
		<span class="row_value">{{selectedObj.price}}</span> 
	</div>
	<div class="number_row">
		<span class="row_header">Market Cap (Rs in Cr.)</span>
		<span class="row_value">{{selectedObj.marketCap}}</span> 
	</div>
	<div class="number_row">
		<span class="row_header">Book Value</span>
		<span class="row_value">{{selectedObj.bookValue}}</span> 
	</div>
	<div class="number_row">
		<span class="row_header">Face Value</span>
		<span class="row_value">{{selectedObj.faceValue}}</span> 
	</div>
	<div class="number_row">
		<span class="row_header">EPS</span>
		<span class="row_value">{{selectedObj.eps}}</span> 
	</div>
	<div class="number_row">
		<span class="row_header">Price-Book Ratio</span>
		<span class="row_value">{{selectedObj.pTob}}</span>
	</div>
	<div class="number_row">
		<span class="row_header">Price-Earnings Ratio</span>
		<span class="row_value">{{selectedObj.pToe}}</span>
	</div>
	<div class="number_row">
		<span class="row_header">Dividend</span>
		<span class="row_value">{{selectedObj.dividend}}</span>
	</div>
	<div class="number_row">
		<span class="row_header">Debt-Equity Ratio ({{selectedObj.month}})</span>
		<span class="row_value">{{selectedObj.debtToEquity}}</span>
	</div>
	<div class="number_row">
		<span class="row_header">Current Ratio ({{selectedObj.month}})</span>
		<span class="row_value">{{selectedObj.currentRatio}}</span>
	</div>
</div>